PORT=3000
NODE_ENV=development
DATABASE_URL=mongodb://localhost:27017/ez-snippet
JWT_SECRET=your-secret-key
STRIPE_API_KEY=sk_test_your_stripe_key_here
STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
OPENAI_API_KEY=sk-your-openai-api-key-here
AWS_ACCESS_KEY=your-aws-access-key
AWS_ACCESS_SECRET=your-aws-access-secret
EMAIL_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/your-account-id/your-email-queue